//nothing here
@import url('https://rsms.me/inter/inter.css');

html, body {
  font-family: 'Inter', sans-serif;
}

:root {
  --primary-font: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

.icon-link {
  float: left;
  padding: 20px;
}
.zoom{
  padding: 50px;
  background-color: green;
  transition: transform .2s; /* Animation */
  width: 200px;
  height: 200px;
  margin: 0 auto;
}

.hover-zoom {
  transform: scale(1.5);
}

.icon-link a {
  text-align: center;
  display: block;
  color: white;
  font-size: 30px;
  -webkit-transition: color 0.5s ease-out;
  -moz-transition: color 0.5s ease-out;
  -ms-transition: color 0.5s ease-out;
  -o-transition: color 0.5s ease-out;
  transition: color 0.5s ease-out;
}

.icon-link a:focus, .icon-link a:hover {
  color: rgb(228, 228, 228);
}

.social-links {
  list-style-type: none;
  padding-left: 0px;
  margin-top: -20px;
}
.content-container {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.background {
  width: 100%;
  height: 100vh;
  background-color: rgb(43, 43, 82);
  padding-top: 35vh;
}

.jumbo-text {
  font-family: var(--primary-font);
  color: white;
  font-weight: 600;
  font-size: 42px;
}

.description {
  font-family: var(--primary-font);
  color: rgb(149, 161, 188);
  font-weight: 400;
  width: 400px;
  margin-top: 20px;
}

.highlight {
  color: rgb(235, 110, 110);
}
